* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    background: #0f0f10;
    color: #ffffff;
}

body {
    margin: 0 14vw;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 30px 0;
}

nav div {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

img[alt="beatsLogo"] {
    width: 2vw;
}

nav button {
    padding: 10px 40px;
    border-radius: 9px;
    background: #1e1e21;
    font-size: 15px;
    font-weight: 300;
}

main {
    display: flex;
    align-items: flex-start;
    margin-top: 32px;
    position: relative;
}

.main_onear {
    display: flex;
    flex-direction: column;
    margin-left: 178px;
}

img[alt="onEar"] {
    width: 23vw;
    margin-left: 50px;
}

img[alt="mainImage"] {
    width: 17vw;
    position: relative;
    top: -250px;
    left: 70px
}

.main_onear div {
    display: flex;
}

main h1 {
    font-size: 50PX;
    margin-top: 10PX;
    font-weight: 600;
}

main h4 {
    font-size: 20px;
    margin-top: 25px;
    font-weight: 500;
}

.Enjoy {
    margin-top: 30px;
    font-size: 15px;
    color: #939495;
    width: 65%;
    line-height: 24px;
    font-weight: 300;
}

.shoppingBag {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    background: #1e1e21;
    width: 40%;
    padding: 10px 24px;
    border-radius: 10px;
    align-items: center;
}

img[alt="shoppingBag"] {
    background-color: transparent;
    width: 1.2vw;
}

.shoppingBag p {
    background-color: transparent;
    font-size: 15PX;
}

.shoppingBag span {
    background-color: transparent;
    font-size: 18px;
    font-weight: bold
}

.loges {
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: -60px;
    position: relative;
    padding: 0 52px;
    margin-bottom: 15px;
}

.loges img {
    scale: 0.7;
}

.specs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}

img[alt="specsLogo"] {
    width: 15vw;
    scale: 0.8;
    margin-bottom: 20px;
}

img[alt="specsImage"] {
    width: 22vw;
}

.funcation {
    display: flex;
}

.funcation img {
    scale: 0.8;
}

.funcation_list div {
    margin-bottom: 20px;
}

.funcation_list div img {
    scale: 0.8;
}

.funcation_list div p {
    font-size: 14px;
}

.funcation_list div p:last-child {
    color: #bdc0c2;
    font-size: 12px;
    margin-top: 5px;
    width: 70%;
}

.funcation_list div:first-child {
    margin-left: 30px;
}

.funcation_list div:last-child {
    margin-left: 30px;
}

.case {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img[alt="caseLogo"] {
    width: 13vw;
    scale: 0.8;
    margin-bottom: 20px;
}

.case_list {
    display: flex;
    align-items: center;
    width: 50%;
    gap: 50px;
}

img[alt="caseImage"] {
    width: 17vw;
}

.group p:first-child {
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    color: #bdc0c2;
    width: 85%;
}

.group p:last-child {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #1e1e21;
    width: fit-content;
    gap: 20px;
    font-size: 15px;
    margin-top: 30px;
}

img[alt="group"] {
    background: #1e1e21;
    scale: 0.8;
}

.shopping {
    display: flex;
    padding: 40px 160px;
    background: #181a1b;
    align-items: center;
    margin-top: 95px;
    border-radius: 14px;
    justify-content: center;
    gap: 48px;
}

.shopping div {
    width: 30%;
    background-color: transparent;
}

.shopping img {
    background-color: transparent;
}

.shopping div h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 14px;
    background: transparent;
}

.shopping div p {
    color: #bdc0c2;
    font-size: 16px;
    margin-bottom: 14px;
    background: transparent;
}

.shopping div div {
    display: flex;
    align-items: center;
    width: fit-content;
    background-color: #000000;
    border-radius: 7px;
    padding: 9px 19px;
}

.shopping div div img {
    scale: 0.8;
    margin-right: 9px;
}

.shopping div div p {
    margin-bottom: 0;
    font-size: 14px;
    color: white;
}

img[alt="productLogo"] {
    width: 18vw;
    scale: 0.8;
}

.Product {
    display: flex;
    flex-direction: column;
    margin: 0 150px;
}

.product-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
    margin-top: 80px;
}

.product_div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    padding-left: 50px;
}

.product_item {
    position: relative;
    width: 10vw;
    height: 21vh;
    background-color: #181a1b;
    border-radius: 8px;

}

.product-img {
    width: 6vw;
    height: 16vh;
    position: absolute;
    z-index: 100;
    top: -40px;
    left: 28px;
    background-color: transparent;
}

.product-img,
.product-card p,
.product-card span,
.product-card img,
.product-card div {
    background-color: transparent;
}

.product_info {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 10px 15px;
    background-color: #181a1b;
}

.product_info p {
    font-size: 12px;
    background-color: #181a1b;

}

.product_info p span {
    color: #bdc0c2;
    background-color: #181a1b;
}

.product_info div {
    background: #0a0a0b;
    border-radius: 8px;
    padding: 2px 6px;
}

.product_info div img {
    width: 13px;
    height: 13px;
    background: #0a0a0b;
}

.shpBag {
    background: transparent;
}

footer {
    display: flex;
    justify-content: space-between;
    margin: 100px 0;
    align-items: flex-start;
    position: relative;
}

.footer-logo {
    scale: 1;
}

footer ul {
    list-style: none;
}

footer ul li:first-child {
    font-size: 20px;
    margin-bottom: 15px;
    color: white;
}

footer ul li a {
    text-decoration: none;
}

footer ul li {
    margin-bottom: 8px;
    font-size: 15px;
    color: #939495;
    list-style: none;
}

.social_media {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.social_media div:first-child {
    background-color: #181a1b;
    border-radius: 8px;
    padding: 5px 10px;
    display: flex;
}

.social_media div:first-child input {
    border: none;
    background-color: transparent;
}

.subscribe {
    display: flex;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    align-items: center;
    background: #0A0A0B;
    gap: 10px;
}

.subscribe img {
    scale: 0.8;
}

.subscribe p {
    font-size: 12px;
}

.social_media div:last-child img {
    margin-right: 10px;
    scale: 0.8;
}

.up_Arrow {
    position: absolute;
    right: -140px;
    scale: 0.8
}